
.card
{
    border: 1px solid #e3e3e3;
    background-color: #fff;
    padding: 10px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.movie-img{
    height: 170px;
    width: 100%;
    display: block;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.link{
    padding-top: 5px;
    cursor: pointer;
    float: left;
}